In [46]:
# Dependencies
import pandas as pd

In [47]:
# load CSV

new_coders = "../Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [48]:
# Read with pandas

new_coders_pd= pd.read_csv(new_coders, encoding="iso-8859-1", low_memory=False)
new_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [49]:
# Inspect all columns

new_coders_pd.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [50]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111 

reduced_coders_pd = new_coders_pd.iloc[:,[0,1,2,3,4,7,8,9,10,11,29,30,32,36,37,45,48,56,110,111]]

reduced_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [58]:
# Change "0" to "No" and "1" to "Yes" in response columns
reduced_coders_pd = reduced_coders_pd.replace({0:"No",1:"Yes"})
reduced_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [52]:
# Calculate total number of respondents in survey

total_surveyed=len(reduced_coders_pd)
total_surveyed

15620

In [53]:
# Extract rows corresponding only to people who attended a bootcamp
attended_bootcamp = reduced_coders_pd.loc[reduced_coders_pd["AttendedBootcamp"] == "Yes"]
attended_bootcamp.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,45000.0,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,75000.0,Yes,3,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN

In [54]:
# Calculate average age of attendees 
average_age = attended_bootcamp["Age"].mean()
print(average_age)

31.066014669926652

In [55]:
# Calculate how many people attended a bootcamp
count_people=attended_bootcamp["AttendedBootcamp"].count()
print(count_people)

953

In [77]:
#Calculate how many attendees hold degrees
count_hold_degrees=attended_bootcamp["SchoolDegree"].count()
#count_hold_degrees=attended_bootcamp["SchoolDegree"].value_counts()
print(count_hold_degrees)

832

In [74]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification  
total_no_attendees = attended_bootcamp["Gender"].count()
male_count = attended_bootcamp["Gender"].value_counts()["male"]
female_count = attended_bootcamp["Gender"].value_counts()["female"]
print("Total:",total_no_attendees)
print("Male_Count:",male_count)
print("Female_Count:",female_count)

Total: 833
Male_Count: 496
Female_Count: 326

In [75]:
# Calculate percentage of respondents who attended a bootcamp
percentage_respondents =count_people/total_surveyed*100
print(percentage_respondents)

6.101152368758003

In [76]:
# Calculate percentage of respondents belonging to each gender
male_gender_percent = male_count/total_no_attendees*100
female_gender_percent = female_count/total_no_attendees*100

print("male_gender_percent:",male_gender_percent)
print("female_gender_percent:",female_gender_percent)

male_gender_percent: 59.5438175270108
female_gender_percent: 39.13565426170468

In [78]:
# Calculate percentage of attendees with a school degree
percentage_school_degree=count_hold_degrees/count_people*100

print(percentage_school_degree)

87.30325288562435

In [79]:
# Calculate average post-bootcamp salary
average_post_bootcamp_salary=attended_bootcamp["BootcampPostSalary"].mean()
print(average_post_bootcamp_salary)

63740.50606060606

In [80]:
# Create a new table consolodating above calculations

In [19]:
# Improve formatting before outputting spreadsheet

,Total Surveyed,Total Bootcamp attendees,% attended bootcamp,Avg. Age,Has a degree,% Male,% Female,% Non Gender Specific,Average Post Bootcamp Salary
0,15620,953,6.10%,31.07,87.30%,59.54%,39.14%,1.32%,"$63,741"

In [21]:
# Export to Excel