In [1]:
import pandas as pd
import os

In [5]:
csv_path=os.path.join('Resources', 'usa_ufo_sightings.csv')

#read the csv into the Pandas dataframe
usa_ufo_df = pd.read_csv(csv_path)

#print firs five rows of the data on the screen
usa_ufo_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
2,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611
3,10/10/1961 19:00,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889
4,10/10/1965 23:45,norwalk,ct,us,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333

In [6]:
usa_ufo_df.shape

(63553, 11)

In [8]:
# Count how many sightings have occured within each state
state_counts=usa_ufo_df["state"].value_counts()

state_counts.head()

ca    8683
fl    3754
wa    3707
tx    3398
ny    2915
Name: state, dtype: int64

In [10]:
#using group-by in order to separate the data into fields according to 'state'values

grouped_usa =usa_ufo_df.groupby('state')

grouped_usa.count()

,datetime,city,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
state,,,,,,,,,,
ak,311,311,311,311,311,311,311,311,311,311
al,629,629,629,629,629,629,629,629,629,629
ar,578,578,578,578,578,578,578,578,578,578
az,2362,2362,2362,2362,2362,2362,2362,2362,2362,2362
ca,8683,8683,8683,8683,8683,8683,8683,8683,8683,8683
co,1385,1385,1385,1385,1385,1385,1385,1385,1385,1385
ct,865,865,865,865,865,865,865,865,865,865
dc,7,7,7,7,7,7,7,7,7,7
de,165,165,165,165,165,165,165,165,165,165
fl,3754,3754,3754,3754,3754,3754,3754,3754,3754,3754
ga,1235,1235,1235,1235,1235,1235,1235,1235,1235,1235
hi,257,257,257,257,257,257,257,257,257,257
ia,669,669,669,669,669,669,669,669,669,669
id,508,508,508,508,508,508,508,508,508,508
il,2447,2447,2447,2447,2447,2447,2447,2447,2447,2447
in,1268,1268,1268,1268,1268,1268,1268,1268,1268,1268
ks,599,599,599,599,599,599,599,599,599,599
ky,843,843,843,843,843,843,843,843,843,843
la,547,547,547,547,547,547,547,547,547,547
ma,1238,1238,1238,1238,1238,1238,1238,1238,1238,1238
md,818,818,818,818,818,818,818,818,818,818
me,544,544,544,544,544,544,544,544,544,544
mi,1781,1781,1781,1781,1781,1781,1781,1781,1781,1781
mn,996,996,996,996,996,996,996,996,996,996
mo,1431,1431,1431,1431,1431,1431,1431,1431,1431,1431
ms,368,368,368,368,368,368,368,368,368,368
mt,460,460,460,460,460,460,460,460,460,460
nc,1722,1722,1722,1722,1722,1722,1722,1722,1722,1722
nd,123,123,123,123,123,123,123,123,123,123
ne,373,373,373,373,373,373,373,373,373,373
nh,482,482,482,482,482,482,482,482,482,482
nj,1236,1236,1236,1236,1236,1236,1236,1236,1236,1236
nm,693,693,693,693,693,693,693,693,693,693
nv,778,778,778,778,778,778,778,778,778,778
ny,2915,2915,2915,2915,2915,2915,2915,2915,2915,2915
oh,2251,2251,2251,2251,2251,2251,2251,2251,2251,2251
ok,714,714,714,714,714,714,714,714,714,714
or,1667,1667,1667,1667,1667,1667,1667,1667,1667,1667
pa,2319,2319,2319,2319,2319,2319,2319,2319,2319,2319
pr,24,24,24,24,24,24,24,24,24,24
ri,224,224,224,224,224,224,224,224,224,224
sc,986,986,986,986,986,986,986,986,986,986
sd,177,177,177,177,177,177,177,177,177,177
tn,1091,1091,1091,1091,1091,1091,1091,1091,1091,1091
tx,3398,3398,3398,3398,3398,3398,3398,3398,3398,3398
ut,611,611,611,611,611,611,611,611,611,611
va,1248,1248,1248,1248,1248,1248,1248,1248,1248,1248
vt,254,254,254,254,254,254,254,254,254,254
wa,3707,3707,3707,3707,3707,3707,3707,3707,3707,3707
wi,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205
wv,438,438,438,438,438,438,438,438,438,438
wy,169,169,169,169,169,169,169,169,169,169