# Winnining Wrestlers Entertainment

In this activity you will be taking four seperate csvs that were scraped down from a wrestling database, merging them together, and then creating charts to visualize a wrestler's wins and losses over the course of four years.

### Part 1 - Macho Merging

* You will likely need to perform three different merges over the course of this activity, changing the names of your columns as you go along.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [2]:
# Take in all of our wrestling data and read it into pandas
wrestling_2013 = os.path.join('..', 'Data', 'WWE-Data-2013.csv')
wrestling_2014 = os.path.join('..', 'Data', 'WWE-Data-2014.csv')
wrestling_2015 = os.path.join('..', 'Data', 'WWE-Data-2015.csv')
wrestling_2016 = os.path.join('..', 'Data', 'WWE-Data-2016.csv')

wrestlers_2013_df = pd.read_csv(wrestling_2013)
wrestlers_2014_df = pd.read_csv(wrestling_2014)
wrestlers_2015_df = pd.read_csv(wrestling_2015)
wrestlers_2016_df = pd.read_csv(wrestling_2016)
wrestlers_2016_df.head()

       Wrestler  Wins  Losses  Draws
0  Dean Ambrose   133      67      4
1   Kevin Owens    61     130      2
2  Tyler Breeze    17     163      2
3     AJ Styles   108      68      0
4     Sami Zayn   111      59      6

In [3]:
# Rename columns to "2013 Wins", "2013 Losses", and "2013 Draws"
wrestlers_2013_df = wrestlers_2013_df.rename(columns={
    "Wins":"2013 Wins",
    "Losses":"2013 Losses",
    "Draws":"2013 Draws"
})
# Rename columns to "2014 Wins", "2014 Losses", and "2014 Draws"
wrestlers_2014_df = wrestlers_2014_df.rename(columns={
    "Wins":"2014 Wins",
    "Losses":"2014 Losses",
    "Draws":"2014 Draws"
})
# Rename columns to "2015 Wins", "2015 Losses", and "2015 Draws"
wrestlers_2015_df = wrestlers_2015_df.rename(columns={
    "Wins":"2015 Wins",
    "Losses":"2015 Losses",
    "Draws":"2015 Draws"
})
# Rename columns to "2016 Wins", "2016 Losses", and "2016 Draws"
wrestlers_2016_df = wrestlers_2016_df.rename(columns={
    "Wins":"2016 Wins",
    "Losses":"2016 Losses",
    "Draws":"2016 Draws"
})

In [4]:
# Merge the first two datasets on "Wrestler" so that
# no data is lost (should be 182 rows)
wrestlers_df = pd.merge(wrestlers_2013_df, wrestlers_2014_df,
                        how='outer', on='Wrestler')
print(len(wrestlers_df))
wrestlers_df.head()

182

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0

In [5]:
# Merge our newly combined dataframe with the 2015 dataframe
wrestlers_df = pd.merge(wrestlers_df, wrestlers_2015_df,
                        how="outer", on="Wrestler")
wrestlers_df.head()

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0

In [6]:
# Merge our newly combined dataframe with the 2016 dataframe
wrestlers_df = pd.merge(wrestlers_df, wrestlers_2016_df,
                        how="outer", on="Wrestler")
wrestlers_df.head()

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,2016 Wins,2016 Losses,2016 Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0

In [7]:
# Save to new csv file
output = os.path.join('..', '..', '09-Stu_WinnerWrestling-Part2','Data', 'WWE-Data.csv')
wrestlers_df.to_csv(output, index=False, header=True)